# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\yasuJava\tank_battle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
